.sfondo {
    background-image: url(/img/pattern.png);
    background-size: 380px;
    height: 100px;
    background-color: cornflowerblue;
    padding-left:5px;
    align-items: flex-end;
}



.logo {
    position: absolute;
    bottom: 640px;
    height:50px;

}