.sfondo {
    background-image: url(/img/pattern.png);
    background-size: 380px;
    height: 100px;
    background-color: cornflowerblue;
    padding-left:5px;
    align-items: flex-end;
}

.logo {
    position: absolute;
    bottom: 640px;
    height:50px;

}

section>div>h1{
    font-size: 60px;
}

.margine-sinistro{
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}
main>section>div>p{
    font-size:x-small;
}
.testo-grigio{
    color: gray;
}
.testo-blu{
    color: aqua;
}

.didascalia{
    font-size: xx-small;
}

.testo-evidenziato{
    background-color: yellow;
}

.foto-fondo {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

.foto-fondo img {
  width: 70%;
  display: block;
}

.background-testo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: 17px;
}


table {
    border-collapse: collapse;
  width: 100%;
}


.intestazione-tabella{
    background-color: cornflowerblue;
    color: white;
}


.intestazione-riga-azzurra{
    background-color: lightblue;
}

